<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <style>
        h1 {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    {{> header}} {{> footer}}
</body>

</html>